.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25px;
  vertical-align: bottom;
}

.App-header h1 {
  overflow: hidden;
}

.App-header button:not([disabled]) {
  color: white;
}

.App-left-menu {
  padding: 64px 0 0 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
